<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373029480160-psn6ev97ugj9b4naingfmicbqqu9jh9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373029480160-psn6ev97ugj9b4naingfmicbqqu9jh9m</string>
	<key>API_KEY</key>
	<string>AIzaSyA5uH25K4vNbQmH6mj5g210kDQwjhaZs7c</string>
	<key>GCM_SENDER_ID</key>
	<string>373029480160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myBacklog.iOS</string>
	<key>PROJECT_ID</key>
	<string>mybacklog-8ce5a</string>
	<key>STORAGE_BUCKET</key>
	<string>mybacklog-8ce5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373029480160:ios:b8ff37573f6d38ce</string>
	<key>DATABASE_URL</key>
	<string>https://mybacklog-8ce5a.firebaseio.com</string>
</dict>
</plist>